{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">

    <meta name="theme-color"
          content="#12141c">

    <title>
        {% block title %}DevForge{% endblock %}
    </title>

    <link rel="stylesheet"
          href="{% static 'css/base.css' %}">

    <link rel="stylesheet"
          href="{% static 'css/components/navigation.css' %}">

    <link rel="stylesheet"
          href="{% static 'css/components/footer.css' %}">

    <link rel="stylesheet"
          href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css">

    {% block extra_css %}
    {% endblock %}

</head>

<body>

    <div id="site-wrapper"
         class="site-wrapper">

        {% block navigation %}
        {% endblock %}


        <main id="site-main"
              class="site-main">

            {% block content %}
            {% endblock %}

        </main>


        {% include "components/footer.html" %}

    </div>


    {% block extra_js %}

        <script src="{% static 'js/base.js' %}"></script>

    {% endblock %}

</body>

</html>