{% extends "public/base.html" %}

{% block title %}
    Logout | DevForge
{% endblock %}

{% block auth_content %}

<h1 class="auth-title">
    Sign out
</h1>

<p class="auth-description">
    You're about to leave your DevForge workspace.
    Would you like to sign out?
</p>

<form method="post"
      action="{% url 'account_logout' %}"
      class="auth-form">

    {% csrf_token %}

    <button type="submit"
            class="auth-button">
        Sign Out
    </button>

</form>
{% endblock %}